:root{
    --color1:#28A745;
    
}
.container{
    font-family: 'roboto', sans-serif;
}

.fs-7{
    font-size: 13px;
}

.card img {
    
    min-height: 270px;
    max-height: 270px;
    object-fit: cover;
}

input{
    max-width: 400px;
    
}

[nav~="bg-primary"] {
    background-color: aqua;
}

.bg-primary{
    background-color: var(--color1) !important;
}
.text-primary{
    color: var(--color1) !important;
}
